@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Message"]</h2>
<p>Pour toute question ou demande, vous pouvez nous contacter via l'adresse email suivante : <strong>contact@contactapp.com</strong>.</p>