@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur notre application de gestion des contacts !</h1>
    <p class="lead">Cette application vous permet de gérer vos contacts facilement.</p>
    <hr class="my-4">
    <p>Vous pouvez consulter la liste des contacts, voir les détails d'un contact, et ajouter de nouveaux contacts.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Contact")" role="button">Voir les contacts</a>
</div>